<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Monster type</th>
        <th>Species</th>
        <th>Description</th>
        <th>Elements</th>
        <th>Ailments</th>
        <th>Locations</th>
        <th>Resistances</th>
        <th>Weakness</th>
        <th>Rewards</th>
    </tr>
    <tr *ngFor = "let monster of monsters">
            <td>{{monster.id}}</td>
            <td>{{monster.name}}</td>
            <td>{{monster.type}}</td>
            <td>{{monster.species}}</td>
            <td>{{monster.description}}</td>
            <td>{{monster.elements}}</td>
            <td *ngFor = "let ailment of monster.ailments">{{ailment.description}}</td>
            <td *ngFor = "let local of monster.locations">{{local.name}}</td>
            <td *ngFor = "let res of monster.resistances">{{res.element}}</td>
            <td *ngFor = "let weak of monster.weaknesses">{{weak.element}}</td>
            <td>{{monster.rewards}}</td>
    </tr>
</table>