<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Monster type</th>
        <th>Species</th>
        <th>Description</th>
        <th>Elements</th>
        <th>Ailments</th>
        <th>Locations</th>
        <th>Resistances</th>
        <th>Weakness</th>
        <th>Rewards</th>
    </tr>
    <tr *ngFor = "let data = monsters">
            <td>monsters.id</td>
            <td>monsters.name</td>
            <td>monsters.type</td>
            <td>monsters.species</td>
            <td>monsters.description</td>
            <td>monsters.elements</td>
            <td>monsters.ailments</td>
            <td>monsters.locations</td>
            <td>monsters.resistances</td>
            <td>monsters.weakness</td>
            <td>monsters.rewards</td>
    </tr>
</table>